.jumbotron {
  background-color: rgb(68, 85, 116);
  border-bottom: #aeb1a4 0.5px solid;
  height: 80px;
  margin-bottom: 2px;
}
.nav-text {
  position: absolute;
  top: 11px;
  left: 80px;
}
.title {
  display: inline;
  margin-right: 55px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  border-right: #aeb1a4 0.5px solid;
  padding-right: 85px;
  text-shadow: 1px 1px 2px black;
}
.title2 {
  position: absolute;
  top: -12px;
  display: inline;
  margin-right: 80px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.searchbar {
  position: absolute;
  top: 27px;
  right: 40px;
}
